
# Required
APP_ENV=dev
AWS_ACCESS_KEY_ID=your-AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=your-AWS_SECRET_ACCESS_KEY
AWS_DEFAULT_REGION=your-aws-REGION
# Local dev only
DATA_BASE_PATH=/opt/lakehouse/data

# AWS (DEV only – NEVER COMMIT REAL VALUES)
S3_BUCKET=your-bucket-name
