# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# Spark
spark-warehouse/
metastore_db/
derby.log

# Logs
*.log

# Env
.env

# Data (jamais versionnée)
data/
*.csv
*.parquet

# IDE
.vscode/
.idea/

# OS
.DS_Store
